.intro__subtitle {
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  color: #fdcda7;
}

@media (max-width: 650px) {
  .intro__subtitle {
    margin-left: 23px;
  }
}

@media (max-width: 520px) {
  .intro__subtitle {
    margin-left: 10px;
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .intro__subtitle {
    margin-left: 18px;
  }
}
