.menu__item {
  margin-right: 36px;
}

.menu__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 520px) {
  .menu__item {
    margin: 0 0 10px;
  }

  .menu__item:last-child {
    margin: 0;
  }
}
