.footer {
  font-family: 'Inter', Arial, sans-serif;
  color: #000;
  background-color: #fecda7;
  min-height: 620px;
  display: flex;
}

@media (max-width: 800px) {
  .footer {
    min-height: 400px;
  }
}

@media (max-width: 478px) {
  .footer {
    min-height: 300px;
  }
}
